* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   
  .main-container {
    padding: 30px;
  }
  
  /* CARDS */
  
  .cards {
  
    justify-content: space-between;
  }
  
  .card2{
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
    width: 85%;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    background: linear-gradient(45deg, #1fe4f5, #3fbafe);
    display: flex;
    flex-direction: row;
  }
  
  .card2:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  
  .card__link,
  .card__exit,
  .card__icon {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
  }
  
  .card__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
  }
  
  .card__link:hover::after {
    width: 100%;
  }
  
  .card__exit {
    grid-row: 1/2;
    justify-self: end;
  }
  
  .card__icon {
    grid-row: 2/3;
    font-size: 30px;
  }
  
  .titre {
    margin-top: 10px;
    margin-left: 10px;
    color: black;
    justify-content: center;

  }

  
  .cardbackground {
    background: radial-gradient(#76b2fe, #b69efe);
  }
  
  .card-2 {
    background: radial-gradient(#fbc1cc, #fa99b2);
  }
  
  .card-3 {
    background: radial-gradient(#76b2fe, #b69efe);
  }
  
  .card-4 {
    background: radial-gradient(#60efbc, #58d5c9);
  }
  
  .card-5 {
    background: radial-gradient(#f588d8, #c0a3e5);
  }
  
  /* RESPONSIVE */
  
  @media (max-width: 1600px) {
    .cards {
      justify-content: center;
    }
  }