.categoryContainer{
    margin-left: 6%;
    margin-right: -3px;
}

.createIngredient{
    background: radial-gradient(#76b2fe, #b69efe);
    width: 60%;
    height: 70px;
    border-color: #76b2fe;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}